In [186]:
import pandas as pd   
import numpy as np

# Load data
cust_info = pd.read_csv(r"C:\Users\user\Desktop\FullDataAnalyticsProject\Datasets\source_crm\cust_info.csv")
cust_info.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000.0,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001.0,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002.0,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003.0,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004.0,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

In [187]:
## Data Inspections
cust_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18494 entries, 0 to 18493
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cst_id              18490 non-null  float64
 1   cst_key             18494 non-null  object
 2   cst_firstname       18486 non-null  object
 3   cst_lastname        18487 non-null  object
 4   cst_marital_status  18487 non-null  object
 5   cst_gndr            13916 non-null  object
 6   cst_create_date     18490 non-null  object
dtypes: float64(1), object(6)
memory usage: 1011.5+ KB

In [188]:
cust_info.columns

Index(['cst_id', 'cst_key', 'cst_firstname', 'cst_lastname',
       'cst_marital_status', 'cst_gndr', 'cst_create_date'],
      dtype='object')

In [189]:
## Exploration for data problem detections
cust_info.isna().sum()

cst_id                   4
cst_key                  0
cst_firstname            8
cst_lastname             7
cst_marital_status       7
cst_gndr              4578
cst_create_date          4
dtype: int64

In [190]:
# Extract rows with missing values
missing_rows = cust_info[cust_info.isnull().any(axis=1)]

missing_rows

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
160,11160.0,AW00011160,Maurice,Tang,S,NaN,2025-10-07
161,11161.0,AW00011161,Emily,Wood,S,NaN,2025-10-07
162,11162.0,AW00011162,Chase,Cox,S,NaN,2025-10-07
163,11163.0,AW00011163,Gabriel,Wang,M,NaN,2025-10-07
164,11164.0,AW00011164,Devin,Brooks,S,NaN,2025-10-07
...,...,...,...,...,...,...,...
18489,29482.0,AW00029482,Clayton,Zhang,M,NaN,2026-01-25
18490,29483.0,AW00029483,NaN,Navarro,NaN,NaN,2026-01-25
18491,29483.0,AW00029483,Marc,Navarro,M,NaN,2026-01-27
18492,NaN,13451235,NaN,NaN,NaN,NaN,NaN
18493,NaN,A01Ass,NaN,NaN,NaN,NaN,NaN

In [191]:
print(cust_info['cst_marital_status'].unique())

['M' 'S' nan]

In [192]:
cust_info[cust_info['cst_marital_status'].isna()]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
18446,NaN,SF566,NaN,NaN,NaN,NaN,NaN
18469,29466.0,AW00029466,NaN,NaN,NaN,NaN,2026-01-25
18478,29473.0,AW00029473,Carmen,NaN,NaN,NaN,2026-01-25
18482,NaN,PO25,NaN,NaN,NaN,NaN,NaN
18490,29483.0,AW00029483,NaN,Navarro,NaN,NaN,2026-01-25
18492,NaN,13451235,NaN,NaN,NaN,NaN,NaN
18493,NaN,A01Ass,NaN,NaN,NaN,NaN,NaN

In [193]:
# Notice 1: Check for null value and duplicates
cust_info[cust_info['cst_id'].isna() & cust_info['cst_id'].duplicated()]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
18482,NaN,PO25,NaN,NaN,NaN,NaN,NaN
18492,NaN,13451235,NaN,NaN,NaN,NaN,NaN
18493,NaN,A01Ass,NaN,NaN,NaN,NaN,NaN

In [194]:
# Group by 'cst_id' and count occurrences
duplicates = cust_info.groupby('cst_id').size().reset_index(name='Number_of_duplicates')

# Filter for duplicates (count > 1) OR where 'cst_id' is NaN
duplicates_filtered = duplicates[(duplicates['Number_of_duplicates'] > 1) | (duplicates['cst_id'].isna())]

duplicates_filtered

        cst_id  Number_of_duplicates
18433  29433.0                     2
18449  29449.0                     2
18466  29466.0                     3
18473  29473.0                     2
18483  29483.0                     2

In [195]:
# Group by 'cst_id' and count occurrences, keeping NaN values
duplicates = cust_info.groupby('cst_id', dropna=False).size().reset_index(name='Number_of_duplicates')

# Filter for duplicates (count > 1) OR where 'cst_id' is NaN
duplicates_filtered = duplicates[duplicates['Number_of_duplicates'] > 1]

In [196]:
duplicates_filtered

        cst_id  Number_of_duplicates
18433  29433.0                     2
18449  29449.0                     2
18466  29466.0                     3
18473  29473.0                     2
18483  29483.0                     2
18484      NaN                     4

- There are duplicated rows in the cust_info for the id, and 4 missing rows

In [197]:
cust_info[cust_info['cst_id'] == 29466]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
18469,29466.0,AW00029466,NaN,NaN,NaN,NaN,2026-01-25
18470,29466.0,AW00029466,Lance,Jimenez,M,NaN,2026-01-26
18471,29466.0,AW00029466,Lance,Jimenez,M,M,2026-01-27

In [198]:
cust_info[cust_info['cst_id'] == 29433]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
18433,29433.0,AW00029433,NaN,NaN,M,M,2026-01-25
18434,29433.0,AW00029433,Thomas,King,M,M,2026-01-27

- So we are only going to be taking one of the duplicate for 29466 which is the latest one

In [199]:
import warnings
warnings.filterwarnings("ignore")

In [200]:
df_29466 = cust_info[cust_info['cst_id'] == 29466]
df_29466['cst_create_date'] = pd.to_datetime(df_29466['cst_create_date'], format='%Y-%m-%d').dt.date
df_29466['latest_ranking'] = df_29466.groupby('cst_id')['cst_create_date'].rank(method='first', ascending=False)

In [201]:
df_29466 = df_29466.sort_values(by='cst_create_date', ascending=False)

In [202]:
df_29466

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date,latest_ranking
18471,29466.0,AW00029466,Lance,Jimenez,M,M,2026-01-27,1.0
18470,29466.0,AW00029466,Lance,Jimenez,M,NaN,2026-01-26,2.0
18469,29466.0,AW00029466,NaN,NaN,NaN,NaN,2026-01-25,3.0

- So we are only going to be taking one of the duplicate for 29466 which is the latest one

In [203]:
df = cust_info.copy()

In [204]:
df['cst_create_date'] = pd.to_datetime(df['cst_create_date'], format='%Y-%m-%d').dt.date
df['latest_ranking'] = df.groupby('cst_id')['cst_create_date'].rank(method='first', ascending=False)
df

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date,latest_ranking
0,11000.0,AW00011000,Jon,Yang,M,M,2025-10-06,1.0
1,11001.0,AW00011001,Eugene,Huang,S,M,2025-10-06,1.0
2,11002.0,AW00011002,Ruben,Torres,M,M,2025-10-06,1.0
3,11003.0,AW00011003,Christy,Zhu,S,F,2025-10-06,1.0
4,11004.0,AW00011004,Elizabeth,Johnson,S,F,2025-10-06,1.0
...,...,...,...,...,...,...,...,...
18489,29482.0,AW00029482,Clayton,Zhang,M,NaN,2026-01-25,1.0
18490,29483.0,AW00029483,NaN,Navarro,NaN,NaN,2026-01-25,2.0
18491,29483.0,AW00029483,Marc,Navarro,M,NaN,2026-01-27,1.0
18492,NaN,13451235,NaN,NaN,NaN,NaN,NaT,NaN
18493,NaN,A01Ass,NaN,NaN,NaN,NaN,NaT,NaN

In [205]:
df['cst_create_date'] = pd.to_datetime(df['cst_create_date'], format='%Y-%m-%d').dt.date
df['latest_ranking'] = df.groupby('cst_id')['cst_create_date'].rank(method='first', ascending=False)
df[(df['cst_id'] == 29466) & (df['latest_ranking'] == 1)]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date,latest_ranking
18471,29466.0,AW00029466,Lance,Jimenez,M,M,2026-01-27,1.0

In [206]:
print(cust_info.shape)

(18494, 7)

In [207]:
print(df[df['latest_ranking'] == 1].shape)

(18484, 8)

In [208]:
new_df = df[df['latest_ranking'] == 1].iloc[0:, 0:-1]
print(new_df.shape)

(18484, 7)

In [209]:
new_df.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000.0,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001.0,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002.0,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003.0,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004.0,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

In [210]:
new_df[new_df['cst_id'] == 29433]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
18434,29433.0,AW00029433,Thomas,King,M,M,2026-01-27

In [211]:
# So now let's take care of the string columns
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18484 entries, 0 to 18491
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cst_id              18484 non-null  float64
 1   cst_key             18484 non-null  object
 2   cst_firstname       18484 non-null  object
 3   cst_lastname        18484 non-null  object
 4   cst_marital_status  18484 non-null  object
 5   cst_gndr            13915 non-null  object
 6   cst_create_date     18484 non-null  object
dtypes: float64(1), object(6)
memory usage: 1.1+ MB

In [212]:
new_df['cst_create_date'] = pd.to_datetime(new_df['cst_create_date'], format='%Y-%m-%d')

In [213]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18484 entries, 0 to 18491
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cst_id              18484 non-null  float64
 1   cst_key             18484 non-null  object
 2   cst_firstname       18484 non-null  object
 3   cst_lastname        18484 non-null  object
 4   cst_marital_status  18484 non-null  object
 5   cst_gndr            13915 non-null  object
 6   cst_create_date     18484 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 1.1+ MB

In [214]:
new_df['cst_id'] = new_df['cst_id'].astype(int)

In [215]:
new_df.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

- Cheking for Unwanted spacing in the cst_firstname nd cst_lastname

In [216]:
new_df[(new_df['cst_firstname'] != new_df['cst_firstname'].str.strip())]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000,AW00011000,Jon,Yang,M,M,2025-10-06
4,11004,AW00011004,Elizabeth,Johnson,S,F,2025-10-06
12,11012,AW00011012,Lauren,Walker,M,F,2025-10-06
13,11013,AW00011013,Ian,Jenkins,M,M,2025-10-06
15,11015,AW00011015,Chloe,Young,S,F,2025-10-06
21,11021,AW00011021,Destiny,Wilson,S,F,2025-10-07
63,11063,AW00011063,Angela,Murphy,S,F,2025-10-07
65,11065,AW00011065,Jessica,Henderson,M,F,2025-10-07
67,11067,AW00011067,Caleb,Carter,S,M,2025-10-07
70,11070,AW00011070,Willie,Raji,M,M,2025-10-07
109,11109,AW00011109,Ruben,Kapoor,S,M,2025-10-07
140,11140,AW00011140,Javier,Alvarez,S,M,2025-10-07
141,11141,AW00011141,Nicole,Ramirez,M,F,2025-10-07
208,11208,AW00011208,Maria,Reed,M,NaN,2025-10-08
209,11209,AW00011209,Allison,Evans,M,NaN,2025-10-08
229,11229,AW00011229,Adrian,Stewart,S,NaN,2025-10-08
259,11259,AW00011259,Victoria,Stewart,M,NaN,2025-10-08

In [217]:
new_df[(new_df['cst_lastname'] != new_df['cst_lastname'].str.strip())]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003,AW00011003,Christy,Zhu,S,F,2025-10-06
12,11012,AW00011012,Lauren,Walker,M,F,2025-10-06
13,11013,AW00011013,Ian,Jenkins,M,M,2025-10-06
21,11021,AW00011021,Destiny,Wilson,S,F,2025-10-07
63,11063,AW00011063,Angela,Murphy,S,F,2025-10-07
64,11064,AW00011064,Chase,Reed,M,M,2025-10-07
65,11065,AW00011065,Jessica,Henderson,M,F,2025-10-07
66,11066,AW00011066,Grace,Butler,M,F,2025-10-07
67,11067,AW00011067,Caleb,Carter,S,M,2025-10-07
70,11070,AW00011070,Willie,Raji,M,M,2025-10-07
71,11071,AW00011071,Linda,Serrano,S,F,2025-10-07
86,11086,AW00011086,Ryan,Brown,M,M,2025-10-07
87,11087,AW00011087,Tamara,Liang,M,F,2025-10-07
109,11109,AW00011109,Ruben,Kapoor,S,M,2025-10-07
167,11167,AW00011167,Jasmine,Barnes,S,NaN,2025-10-07
168,11168,AW00011168,David,Rodriguez,S,NaN,2025-10-07
170,11170,AW00011170,Carol,Howard,M,NaN,2025-10-07
206,11206,AW00011206,Blake,Flores,M,NaN,2025-10-08
208,11208,AW00011208,Maria,Reed,M,NaN,2025-10-08

In [218]:
new_df[(new_df['cst_firstname'] != new_df['cst_firstname'].str.strip()) | 
       (new_df['cst_lastname'] != new_df['cst_lastname'].str.strip())]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004,AW00011004,Elizabeth,Johnson,S,F,2025-10-06
12,11012,AW00011012,Lauren,Walker,M,F,2025-10-06
13,11013,AW00011013,Ian,Jenkins,M,M,2025-10-06
15,11015,AW00011015,Chloe,Young,S,F,2025-10-06
21,11021,AW00011021,Destiny,Wilson,S,F,2025-10-07
63,11063,AW00011063,Angela,Murphy,S,F,2025-10-07
64,11064,AW00011064,Chase,Reed,M,M,2025-10-07
65,11065,AW00011065,Jessica,Henderson,M,F,2025-10-07
66,11066,AW00011066,Grace,Butler,M,F,2025-10-07
67,11067,AW00011067,Caleb,Carter,S,M,2025-10-07
70,11070,AW00011070,Willie,Raji,M,M,2025-10-07
71,11071,AW00011071,Linda,Serrano,S,F,2025-10-07
86,11086,AW00011086,Ryan,Brown,M,M,2025-10-07
87,11087,AW00011087,Tamara,Liang,M,F,2025-10-07
109,11109,AW00011109,Ruben,Kapoor,S,M,2025-10-07
140,11140,AW00011140,Javier,Alvarez,S,M,2025-10-07
141,11141,AW00011141,Nicole,Ramirez,M,F,2025-10-07
167,11167,AW00011167,Jasmine,Barnes,S,NaN,2025-10-07
168,11168,AW00011168,David,Rodriguez,S,NaN,2025-10-07
170,11170,AW00011170,Carol,Howard,M,NaN,2025-10-07
206,11206,AW00011206,Blake,Flores,M,NaN,2025-10-08
208,11208,AW00011208,Maria,Reed,M,NaN,2025-10-08
209,11209,AW00011209,Allison,Evans,M,NaN,2025-10-08
229,11229,AW00011229,Adrian,Stewart,S,NaN,2025-10-08
259,11259,AW00011259,Victoria,Stewart,M,NaN,2025-10-08

In [219]:
# So I will be striping the cst_firstname and cst_lastname

new_df['cst_firstname'] = new_df['cst_firstname'].str.strip()
new_df['cst_lastname'] = new_df['cst_lastname'].str.strip()

new_df[(new_df['cst_firstname'] != new_df['cst_firstname'].str.strip()) | 
       (new_df['cst_lastname'] != new_df['cst_lastname'].str.strip())]

Empty DataFrame
Columns: [cst_id, cst_key, cst_firstname, cst_lastname, cst_marital_status, cst_gndr, cst_create_date]
Index: []

In [220]:
new_df.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

##### Notice 3: Data Standardization & Consistency

In [221]:
print(new_df['cst_gndr'].unique())

['M' 'F' nan]

In [222]:
# Function to standardize gender values
def standardization(x):
    if pd.isna(x):  # Check for NaN values
        return 'Unknown'
    
    x = x.upper()  # Convert to uppercase for consistency
    
    if x == 'F':
        return 'Female'
    elif x == 'M':
        return 'Male'
    else:
        return 'Unknown'

# Apply function to the column
new_df['cst_gndr'] = new_df['cst_gndr'].apply(standardization)

new_df

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000,AW00011000,Jon,Yang,M,Male,2025-10-06
1,11001,AW00011001,Eugene,Huang,S,Male,2025-10-06
2,11002,AW00011002,Ruben,Torres,M,Male,2025-10-06
3,11003,AW00011003,Christy,Zhu,S,Female,2025-10-06
4,11004,AW00011004,Elizabeth,Johnson,S,Female,2025-10-06
...,...,...,...,...,...,...,...
18486,29479,AW00029479,Tommy,Tang,M,Unknown,2026-01-25
18487,29480,AW00029480,Nina,Raji,S,Unknown,2026-01-25
18488,29481,AW00029481,Ivan,Suri,S,Unknown,2026-01-25
18489,29482,AW00029482,Clayton,Zhang,M,Unknown,2026-01-25
18491,29483,AW00029483,Marc,Navarro,M,Unknown,2026-01-27

In [223]:
print(new_df[new_df['cst_gndr'] == 'Unknown'].shape)

(4569, 7)

In [224]:
print(new_df[new_df['cst_gndr'] != 'Unknown'].shape)

(13915, 7)

In [225]:
print(new_df['cst_marital_status'].unique())

['M' 'S']

In [226]:
## A function to standardize the cst_marital_status column
def standardize_cst_marital_status(x):
    x = x.strip().upper()  # Convert to uppercase for consistency
    
    if x == 'S':
        return 'Single'
    elif x == 'M':
        return 'Married'
    else:
        return 'Unknown'
    
# Apply function to the column

new_df['cst_marital_status'] = new_df['cst_marital_status'].apply(standardize_cst_marital_status)

new_df

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000,AW00011000,Jon,Yang,Married,Male,2025-10-06
1,11001,AW00011001,Eugene,Huang,Single,Male,2025-10-06
2,11002,AW00011002,Ruben,Torres,Married,Male,2025-10-06
3,11003,AW00011003,Christy,Zhu,Single,Female,2025-10-06
4,11004,AW00011004,Elizabeth,Johnson,Single,Female,2025-10-06
...,...,...,...,...,...,...,...
18486,29479,AW00029479,Tommy,Tang,Married,Unknown,2026-01-25
18487,29480,AW00029480,Nina,Raji,Single,Unknown,2026-01-25
18488,29481,AW00029481,Ivan,Suri,Single,Unknown,2026-01-25
18489,29482,AW00029482,Clayton,Zhang,Married,Unknown,2026-01-25
18491,29483,AW00029483,Marc,Navarro,Married,Unknown,2026-01-27

In [227]:
print(new_df[new_df['cst_marital_status'] == 'Unknown'].shape)

(0, 7)

In [ ]:
print(new_df[new_df['cst_marital_status']!= 'Unknown'].shape)

(18484, 7)

: